#play-area {
    border: 1px solid black;
    padding: 20px;
    margin: 50px;
    width: 70%;
    text-align: center;
}
#board {
    width: auto;
    border: 2px solid #c9c9c9;
    background-color: #d9d9d9;
    margin: 10px;
}
#toolbar {
    margin: auto;
    float: right;
    margin: 20px 20px 0 20px;
}
#color-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}
#optionbar {
    text-align: center;
}
.mm-row {
    margin: auto;
}
.mm-block {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}
.board-row {
    margin: 10px;
    border: 2px solid #c9c9c9;
    background-color: white;
}
